/*.img {
	width: 100%;
	max-height: 80px;
	object-fit: cover;
}*/
.wrapper {
	display: flex;
	padding: 20px;
}

.photo {
	max-width: 250px;
	max-height: 250px;
	box-shadow: 3px 3px 20px #999;
	position: relative;
	border: none;
}

.photo img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	z-index: 1;
}

.aboutMe {
	font-style: italic;
	white-space: normal;
	overflow-wrap: break-word;
}

.title {
	font-size: 20px;
	color: #333;
}

.contacts span {
	text-transform: uppercase;
	display: inline-block;
	padding: 5px;
	font-size: 12px;
}

.flex {
	display: flex;
}

.descr {
	padding: 10px;
}

.photoBox {
	position: relative;
	display: inline-block;
}

.photoBox:hover .downloadFile input {
	visibility: visible;
}

.downloadFile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.downloadFile input {
	visibility: hidden;
	font-size: 0;
	width: 30px;
	height: 30px;
	background-image: url('../../../assets/images/box-add.svg');
	background-size: 30px;
	opacity: 0.6;
	cursor: pointer;
}

.descr {
	padding: 0px 0px 0px 40px;
}

.descr h1 {
	color: #333;
	margin: 0px 0px;
}

.replace {
	color: #333;
	background-color: transparent;
	border: 1px solid #333;
	padding: 5px;
	cursor: pointer;
}

.replace:hover {
	background-color: rgb(122, 6, 103);
	color: #fff;
}

.status {
	padding: 30px 0px;
	font-style: italic;
	max-width: 200px;
	white-space: normal;
	overflow-wrap: break-word;
}